.list-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fieldname-container {
    display: inline-flex;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin: 5px;
}

.taskname-fieldname{
    flex-basis: 925px;
    flex: 1 1;
}

.other-fieldname{
    flex: 1 1;
}

.action-fieldname{
    width: 200px;
}
.item-container {
    display: inline-flex;
    align-items: center;
    border: solid grey 1px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    font-family: 'Ubuntu', sans-serif;
}