@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.item-container {
    display: inline-flex;
    align-items: center;
    border: solid grey 1px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    font-family: 'Ubuntu', sans-serif;
}

.task-name{
    font-size: 26px;
    flex-basis: 925px;
    flex: 1 1;
}

.task-status{
    font-size: 20px;
    flex: 1 1;
}

.task-deadline{
    font-size: 20px;
    flex: 1 1;
}

.complete-button{
    font-size: 20px;
    appearance: none;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    text-align: center;
}

.delete-button{
    background: transparent;
    border: none;
}